.messages {
  width: 17.9rem;
  margin: 1rem;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0rem 0.75rem 0.75rem 0.75rem;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  color: #606060;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} 
.blue {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.75rem 0.75rem 0rem 0.75rem;
  background: #1c63d5;
  color: #fff;
  margin-left: 4.75rem;
}
.message-container {
  overflow-y: auto; /* Enable vertical scrolling */
  height: 22rem;
}
.message-container::-webkit-scrollbar {
  width: 0.5em;
}

.message-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.message-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
