* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #b0a695;
}

.app{
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

/* css for chat */
/* ChatInterface.css */
.chat-interface {
  width: 23.4375rem;
  height: 42.75rem;
  border-radius: 2rem;
  background: #faf9f4;
  position: absolute;
}

.date {
  display: flex;
  color: #b7b7b7;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 4.46rem;
  gap: 1rem;
  margin-bottom: 1.94rem;
}
.date > hr {
  width: 7.25rem;
  height: 0rem;
  flex-shrink: 0;
  border-radius: 2rem;
  background: #faf9f4;
}

@media (max-width: 675px) {
  body {
    padding: 0;
  }

  .chat-interface {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    position: relative;
  }
}

@media (max-height: 42.75rem) {
  .chat-interface {
    height: 100vh;
  }
  .message-container{
    height: 19rem;
  }
}

/* PhoneStatusBar.css */

.phone-status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 1.69rem;
  margin-top: 10px;
  font-size: large;
  font-weight: 450;
}

.time {
  margin-left: 1rem;
}

.status-icon {
  margin-right: 1rem;
}
